cache/
server.cfg
*/prp-bossmenu/accounts.json
*/prp-walkingstyles/walkingstyles.json
**/prp-bossmenu/accounts.json
**/prp-walkingstyles/walkingstyles.json
**/prp-clothes
**/clothespack
**/female-accs-pack
**/female-clothes-pack
**/female-extra-pack
**/female-jbib-pack
**/female-lowr-pack
**/male-accs-pack
**/male-clothes-pack
**/male-extra-pack
**/male-extra2-pack
**/male-jbib-pack
**/male-lowr-pack