* {
    margin: 0px;
    padding: 0px;
    font-family: "sans-serif";
}

body{
    display: none;
}


.shadow {
    position: fixed;
    box-shadow:100px 100px 800px 200px rgba(0, 0, 0, 0.8) inset; 
    width: 100%;
    height: 100%;
}

#in_nv_main {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 22.917vw;
    height: 100%;
    border-collapse: collapse;
}

#in_nv_image {
    background-image: url(./in_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 14.219vw;
    height: 8.698vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1.563vw;
}

#in_nv_nav {
    width: 22.917vw;
    height: 2.604vw;    
    margin-bottom: 0.781vw;
}

.in_button {
    background-color: #861bf2;
    width: 22.917vw;
    height: 2.604vw;
    border: none;
    outline: none;
    border-radius: 0.521vw;
    color: white;
    opacity: 70%;
}

.in_button:hover {
    opacity: 100%;
}

#in_nv_nav {
    display: flex;             
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
}

.button {
    position: relative;
    background-color: #1E2237;
    border-radius: 0.521vw;
    width: 2.604vw;
    height: 100%;
    transition: all 100ms;
    color: white;
}

.button i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: #1E2237;
    color: #861bf2;
}

.in_nv_name {
    background-color: #1A1D30;
    border-radius: 0.521vw;
    width: 15.625vw;
    color: white;
    font-size: 0.729vw;
    text-align: center;
    line-height: 2.604vw;
}

#in_nv_cont {
    position: relative;
    top: calc(100vh - 17.188vw);
}